<section class="py-5">
    <div class="container-fluid">
        <h2 class="my-5">Yeni Ürünlerimizi Keşfedin</h2>
        <a href="#" class="btn btn-warning me-2 mb-2">Vişne</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Mercimek Çorbası</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Fıstık Ezmesi</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Karnıyarık</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Tam Buğday Ekmek</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Siyah Zeytin</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kaşar Peyniri</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kayısılı Yoğurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Ceviz</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Taze Fasulye</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Bitter Çikolata</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kuzu Pirzola</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Fındıklı Çikolata</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Nohut</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Tuzlu Kraker</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Ayran</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Antep Fıstığı</a>
    </div>
</section>
