<section class="py-5">
    <div class="container-fluid">
        <h2 class="my-5">Yeni Ürünlerimizi Keşfedin</h2>
        <a href="#" class="btn btn-warning me-2 mb-2">Taze Elma</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Zeytinyağlı Salata</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Badem Ezmesi</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Közlenmiş Patlıcan</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kepekli Ekme</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Ev Yapımı Zeytin</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Beyaz Peynir</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Meyveli Yoğurt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kuru Üzüm</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Dondurulmuş Sebzeler</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Beyaz Çikolata</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kavurma Et</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sütlü Çikolata</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kuru Fasulye</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Sade Kraker</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Taze Süt</a>
        <a href="#" class="btn btn-warning me-2 mb-2">Kavuklu Fındık</a>
    </div>
</section>
