@model List<ResultProductWithCategoryDto>

@{
    ViewData["Title"] = "ProductList";
    Layout = "~/Views/Default/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Ürün Paneli</div>
            </div>
            <form method="post">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Ürün Adı</th>
                                <th scope="col">Fiyat</th>
                                <th scope="col">Kategori</th>
                                <th scope="col">Görsel</th>
                                <th scope="col">Sil</th>
                                <th scope="col">Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price ₺</td>
                                    <td>@item.CategoryName</td>
                                    <td><img src="@item.ImageUrl" style="height:100px;"/></td>
                                    <td><a href="/Product/DeleteProduct/@item.ProductID" class="btn btn-danger">Sil</a></td>
                                    <td><a href="/Product/UpdateProduct/@item.ProductID" class="btn btn-warning">Güncelle</a></td>
                                </tr>
                            }
                           
                           
                        </tbody>
                    </table>

                </div>
            </form>

        </div>
        <a href="/Product/CreateProduct/" class="btn btn-outline-info">Yeni Ürün Girişi</a>

    </div>
</div>

