
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")
<body>
    @await Component.InvokeAsync("_SvgImageUILayoutComponentPartial")
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    @RenderBody()
    @await Component.InvokeAsync("_ServicesUIComponentPartial")
    @await Component.InvokeAsync("_FooterUIComponentPartial")
    @await Component.InvokeAsync("_ScriptsUILayoutComponentPartial")

</body>
</html>