<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

<div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="../index.html" class="logo">
                <img src="~/kaiadmin-lite-1.2.0/assets/img/kaiadmin/logo_light.svg"
                             alt="navbar brand"
                             class="navbar-brand"
                             height="20" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-primary">

                <li class="nav-section">
                    <a href="/Product/ProductList" class="text-section" style="color:bisque">
                        <i class="fas fa-box-open"></i> Ürünler
                    </a>
                </li>
                <li class="nav-section">
                    <a href="/Category/CategoryList" class="text-section" style="color:bisque">
                        <i class="fas fa-th-large"></i> Kategoriler
                    </a>
                </li>
                <li class="nav-section">
                    <a href="/Slider/FeatureSliderList" class="text-section" style="color:bisque">
                        <i class="fas fa-images"></i> Öne Çıkan Slider
                    </a>
                </li>
                <li class="nav-section">
                    <a href="/Discount/DiscountList" class="text-section" style="color:bisque">
                        <i class="fas fa-percent discount-icon"></i> İndirimler  
                    </a>
                </li>
                <li class="nav-section">
                    <a href="/Selling/SellingList" class="text-section" style="color:bisque">
                        <i class="fas fa-shopping-cart	 discount-icon"></i> Satışlar
                    </a>
                </li>
            </ul>
                </div>
            </div>
        </div>